################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Videos
/source
/Searches
/Saved Games
/Pictures
/OneDrive
/ntuser.ini
/NTUSER.DAT{7f218377-1638-11ed-bda5-b831b57402d2}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{7f218377-1638-11ed-bda5-b831b57402d2}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{7f218377-1638-11ed-bda5-b831b57402d2}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/Links
/IntelGraphicsProfiles
/Favorites
/Downloads
/Documents
/Desktop
/Contacts
/AppData
/abc.py
/a
/3D Objects
/.vscode
/.viminfo
/.ssh
/.node_repl_history
/.luogu
/.lesshst
/.idlerc
/.gitconfig
/.cpolar
/.bash_history
/.android
